<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
<body>
    <!-- TODO: answer here -->
    <body class="flex justify-center content-center items-center align-middle bg-gradient-to-r from-blue-200 via-indigo-200 to-pink-200">
        <main class="bg-opacity-50 rounded-3xl shadow-lg backdrop-brightness-100 backdrop-blur-md min-h-full my-16 mx-16 w-full max-w-5xl bg-white">
            <section class="px-36 py-20">
                <h1 class="font-bold text-3xl text-center align-middle mb-12">Register your account</h1>
                <form method="post" action="/register/process" class="w-full">
                    <div class="w-full mb-4">
                        <label class="font-bold">Fullname :</label>
                        <input type="text" placeholder="Type fullname here" name="fullname" required 
                        class="w-full text-black p-1 rounded-md outline-blue-400 pl-3"/>
                        </div>
                    
                    <div class="w-full mb-4">
                    <label class="font-bold">Email :</label>
                    <input type="text" placeholder="Type email here" name="email" required 
                    class="w-full text-black p-1 rounded-md outline-blue-400 pl-3"/>
                    </div>
        
                    <div class="w-full mb-4">
                    <label class="font-bold">Password :</label>
                    <input type="password" placeholder="Type password here" name="password" required 
                    class="w-full text-black p-1 rounded-md outline-blue-400 pl-3"/>
                    </div>
        
                    <button type="submit"
                    class="font-semibold text-white py-2 px-10 bg-blue-500 rounded-full w-full shadow-lg mt-5
                    hover:bg-gradient-to-tr from-blue-500 to-indigo-500 hover:scale-105 hover:transition-transform hover:cursor-pointer">Register</button>
                </form>
        
                <div class="md:grid-cols-1 md:grid md:gap-1 mt-10">
                <a href="/login"
                class="font-semibold text-blue-600 p-2 mt-100 text-center
                 hover:scale-105 hover:transition-transform hover:cursor-pointer">Go to Login Page</a>
                </div>
            </section>
        </main> 
        </body>
</body>
</html>